#userUpdate
{

  border-radius:15px;
  padding:25px;
  width:35%;
  background: black;
  opacity: .6;
}
.userUpdate
{

  padding-top:85px;
  background: transparent;
}

body{
  width:100%;
  min-height: 100vh;
  background-image:url("../../../assets/pic/admin_home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-top: 10px; */
  }

   h2{
    font-size: 30px;
    font-weight: 500;
    color: white;
  }
